.main {
  padding: 30px 5px;
}

.main_body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87vh;
}

.main_body > img {
  object-fit: contain;
  border-radius: 999px;
  height: 130px;
}
