.main {
  padding: 30px 5px;
}

.main_header {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.main_header > .icon {
  object-fit: contain;
  height: 17px;
  color: #ffffff;
}
