:root {
  --icon-bg: #ec5144;
  --icon-bg-hover: #b33c31;
  --icon-bg-active: bisque;
}

.bottom__center {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.bottom__centerIcon {
  object-fit: contain;
  height: 30px;
  color: #808080;
  margin: 0px 5px 5px 5px;
  background-color: var(--icon-bg);
  border-radius: 999px;
  padding: 6px;
  cursor: pointer;
}

.bottom__centerIcon:hover {
  background-color: var(--icon-bg-hover);
  transition: background-color 500ms ease-out;
}

.bottom__centerIcon:active {
  background-color: var(--icon-bg-active);
  transition: 300ms;
}

.bottom__date {
  position: absolute;
  bottom: 2%;
  margin-left: 10px;
  font-size: 15px;
}
